
name: CI

on:
  push:
    paths:
      - "src/**"
      - "tests/**"
  pull_request:

jobs:
  test:
    name: Python Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install tox and plugins
        run: pip install tox tox-gh-actions

      - name: Run tests with tox
        run: tox -e py${{ matrix.python-version }},ruff,mypy

      - name: Upload test results
        if: always() && matrix.python-version == '3.13'
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: results.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.GIST_SECRET }}
